.mealsContainer {
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.mealItem {
  background-color: #1d1a16;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.mealItem img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}
.mealItem h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}
.mealItem p {
  margin: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; /* hide extra text */
  text-overflow: ellipsis; /* show "..." at the end */
}
.mealItem span {
  display: inline-block;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 4px;
}
.mealItem button {
  width: 100%;
  background-color: #312c1d;
  color: #ffc404;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}
.mealItem button:hover{
      background-color: #554c32;

}
.searchInput{
  width:100% ;
  padding: .75rem;
  border-radius: 12px;
  background-color: #1d1a16;
  border: #1d1a16;
  color: aliceblue;

}
.searchInput:focus{
  border: 1px solid #ffc404;
}